* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-size: 400% 400%;
    animation: gradientAnimation 20s linear infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    25% {
        background-position: 100% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    75% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 10px;
    left: 10px;
    right: 10px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    z-index: 999;
    border-radius: 5px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-size: 25px;
    font-weight: bold;
    color: #333333;
    cursor: pointer;
}

.menu {
    display: flex;
    justify-content: center;
    align-self: center;
}

.menu ul {
    display: flex;
    width: 100%;
}

.menu ul li {
    list-style: none;
    margin-right: 20px;
}

.menu ul li:last-child {
    margin-right: 0;
}

.menu ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #333333;
    cursor: pointer;
}

.menu_button {
    display: none;
}

@media (max-width: 767px) {
    .header {
        padding: 10px;
        top: 5px;
        left: 5px;
        right: 5px;
    }

    .menu_button {
        display: flex;
        justify-content: center;
        align-self: center;
        cursor: pointer;
    }

    .logo span {
        font-size: 22px;
    }

    .menu_button span {
        display: flex;
        justify-content: center;
        align-self: center;
        font-size: 18px;
        font-weight: 600;
        color: #333333;
    }

    .menu {
        display: none;
        position: absolute;
        top: 60px;
        right: 0;
        width: 200px;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.5);
        z-index: 999;
        padding: 10px 20px;
        animation: slideInFromRight 0.5s ease forwards;
    }

    @keyframes slideInFromRight {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }

    .menu ul {
        flex-direction: column;
    }

    .menu ul li {
        list-style: none;
        margin: 15px 0;
    }
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.music_detection {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    margin-top: 100px;
    max-width: 600px;
}

.music_detection h1 {
    font-size: 24px;
    color: #333333;
    margin-bottom: 20px;
}

.search_section {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

#search_input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px;
    margin-right: 10px;
    width: 100%;
}

#search_button {
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 600% 600%;
    animation: gradientAnimation 20s linear infinite;
    color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

#mic_button {
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 600% 600%;
    animation: gradientAnimation 20s linear infinite;
    color: #f8f8f8;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

.results_section {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 95%;
    max-width: 600px;
    margin: 30px 0;
}

.results_section h2 {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333333;
}

.artist {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #333333;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.player_controls a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 5px;
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 600% 600%;
    animation: gradientAnimation 20s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f8f8f8;
}

.music_player {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.player_controls {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

#play_pause_button {
    padding: 10px 15px;
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 800% 800%;
    animation: gradientAnimation 20s linear infinite;
    color: #f8f8f8;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}

#play_pause_button i {
    font-size: 22px;
    font-weight: 600;
}

.progress_container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #ff6cf5;
    background-color: #ff6df524;
}

.progress_bar {
    background: linear-gradient(320deg, #7C84F3, #FF4DD2, #FF993B, #FF4DD2, #7C84F3, #FF4DD2, #FF993B);
    background-size: 600% 600%;
    animation: gradientAnimation 20s linear infinite;
    height: 15px;
}

.song_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
}

#current_time,
#total_time {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
}